	   
	<link rel='stylesheet' type='text/css' href='css/main.css' />
	<!-- Wrapper -->
	<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>Visousal Chef</h1>
							<p>We've got recipes for all your foodie dreams.</p>
							<ul class="actions">
								<li><a href="" class="button scrolly">Meet us on Instagram</a></li>
							</ul>
						</div>
	</section>

	<div ng-controller="SideBarCtrl" id="sidebar">
		<button class="soft-button">Instagram</button>
		<button ng-href="https://www.pinterest.com/search/pins/?q=food&rs=typed&0=food%7Ctyped" class="soft-button">Pinterest</button>
		<button ng-href="/map" class="soft-button">Map Groceries!</button>
		<button ng-repeat="tag in tags">{{tag}}</button>
	</div>	
	<section id="one" class="wrapper style2 spotlights">	
		<div id="main" ng-controller="FoodSearchCtrl">
			<div ng-repeat="recipe in recipes">
				<img class="image" style="background-position: 50% 0%;"ng-src="{{recipe.image_url}}">

						<h4>
						<a href="/recipe/{{recipe.title}}">					
						<div ng-class="content">
						<div ng-class="inner">{{recipe.title}}</a>						
						</div>
					</div>
				</h4>
				<br>
			</div>
		</div>
	</section>
    <footer id="footer" class="wrapper style1-alt">
        <div class="inner">
          <ul class="menu">
            <li>&copy; NHacks</li>
          </ul>
        </div>
      </footer>